.main-card {
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
  display: flex;
  height: calc(300px - 230px);
}
.card-icon {
  width: calc(300px - 75%);
}
.title-wrapper {
  width: 100%;
  height: 100%;
}
.title-wrapper h3 {
  margin: 10px 0px !important;
}
.card-info {
  height: calc(300px - 100px);
}
